.list {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;


  &-table {
    padding-bottom: 5rem;
    padding-left: 10%;
    padding-right: 10%;

    & ::ng-deep {
      & li {
        font-size: 1.5rem;
        padding: 0.5rem;
        border-bottom: 1px solid black;
        cursor: pointer;
      }
    }
  }

  &-controls {
    display: flex;
    justify-content: center;
    font-size: 2rem;

    & * {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    & p {
      cursor: pointer;
    }
  }
}
