@import "src/theme/mixins";

.list {
  width: 60%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 0px $brand-2;
  background-color: $brand-5;


  &-table {

    & ::ng-deep {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        padding: 1rem 8%;
        border-bottom: 1px solid #bfc0c0;
        cursor: pointer;

        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:hover {
          background-color: $brand-3;
          transition: background-color 0.3s ease-in-out;

          .list-data {
            color: $brand-5;
            transition: color 0.3s ease-in-out;
          }
        }

        img {
          height: 8rem;
        }

        .list-data {

        }
      }
    }
  }

  &-controls {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $brand-2;

    & li {
      padding-right: 1rem;
      padding-left: 1rem;
      cursor: pointer;
      border-right: 1px solid $brand-4;
      color: $brand-5;

      &:last-child {
        border-right: none;
      }

      &:hover {
        background-color: $brand-3;
        transition: background-color 0.1s ease-in-out;
      }
    }
  }
}
