<navbar-button (clickBurger)="toggleMenu()"></navbar-button>

<sidebar [open]="menuIsOpen" (clickSidebar)="toggleMenu()">
  <li *ngFor="let link of links; let idx = index">
    <span class="menu-name" (click)="goToLink(link, idx)">{{link?.name}}</span>
    <sidebar-submenu *ngIf="link?.submenu.length>0" [attr.hidden]="link.active?null:true" [link]="link">
      <li *ngFor="let sublink of link?.submenu">
        <span class="menu-name--sub" (click)="goToSubLink(link, sublink)">{{sublink?.name}}</span>
      </li>
    </sidebar-submenu>
  </li>
</sidebar>

<router-outlet></router-outlet>
