.nav-button {
  position: fixed;
  top: 0;
  left: calc(100vw - 8rem);
  height: 6rem;
  width: 6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: -8px 6px 10px 0px rgba(207,207,207,1);
  background-color: orange;
  margin: 1rem;
  z-index: 1;
}

.nav-bars div {
  width: 4rem;
  height: 0.5rem;
  background-color: black;
  margin: 0.6rem 0;
}
