:host() {
  --sidebar-width: 15rem;
}

:host(.nav-menu)  {
  position: fixed;
  top: 0;
  left: -30rem;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 0.2rem solid rgb(82, 82, 82);
  transition-timing-function: ease-in-out;
  transition: left, 1s;
  z-index: 10;
}

:host(.open-menu) {
  left: 0rem;
}

:host /deep/ li {
  width: 80%;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 0.2rem solid rgb(82, 82, 82);
}

:host /deep/ li:last-child {
  border-bottom: none;
}

:host /deep/ a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

:host /deep/ .active {
  color: rgb(255, 118, 14);
}

.nav-screen  {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  width: calc(100vw - var(--sidebar-width));
  height: 100vh;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
