.nav-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 0.2rem solid rgb(82, 82, 82);
  transition-timing-function: ease-in-out;
  transition: left, 1s;
  z-index: 10;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  width: 80%;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 0.2rem solid rgb(82, 82, 82);
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.nav-menu .active {
  color: rgb(255, 118, 14);
}

.hidden {
  left: -30rem;
}
